.line-hight-carusel-mob {
  line-height: 50px;
}

.line-hight-carusel-scr {
  
  
}


.navbar {
  background-color: #ffcb0b;
  
}

h1 {
  color: #8d0000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 0.5px 0.5px #7e7e7e;
  
}


.btn {
  border: 2px solid;
}

.btnRed {
  color: #8d0000;
  
  
}