.line-hight-carusel-xsm {
  line-height: 50px;
}

.line-hight-carusel-sm {
  line-height: 40px; 
}

.carousel-caption {
  padding-bottom: ;
}




h1 .carusel {
  text-shadow: 0.5px 0.5px #7e7e7e;
  font-family: 'Orienta', serif;
  letter-spacing: 2px;
}

h2 {
  color: #8d0000;
  font-family: 'Orienta', serif;
  
  line-height: 50px;
}

h3 {
  color: #239ea9;
  font-family: 'Orienta', serif;
  line-height: 50px;
}

h5 {
  text-shadow: 0.5px 0.5px #7e7e7e;
  font-family: 'Orienta', serif;
  letter-spacing: 2px;
  font-size: 4rem;
  color: #ffcb0b;
  
}

h6 {
  font-size: 1.4rem;
}

p {
  font-family: 'Barlow', serif;
  font-size: 1.8rem;
  line-height: 3rem;
}

a {
  font-family: 'Barlow', serif;
  font-size: 1.3rem;
  line-height: 2rem;
  
}

.btn {
  border: 2px solid;
}

.btnRed {
  color: #8d0000;
}

.bg_welcome {
  background-color: #ffcb0b;
}

.form-control {
  height: 3rem;
}

.btn-info {
  height: 3rem;
}

.Go {
  font-size: 1.5rem;
}

.bg-footer {
  background-color: #ffcb0b;
}