@font-face {
  font-family: PlayBold;
  src: url(typography/PlayBold.ttf);
}

@font-face {
  font-family: PlayRegular;
  src: url(typography/PlayRegular.ttf);
}

h1 {
  color: #1d1d1d;
  font-family: PlayRegular;
  letter-spacing: 5px;
}

h6 {
color: whitesmoke;
}

p {
  line-height: 1.9rem;
}

/* Home style start */

.Hometittle1 {
  background-color: #e8d8b7;
  height: 150px;
  padding-top: 15px;
}

.Hometittle2 {
  background-color: #6d6e71;
  height: 150px;
  padding-top: 15px;
}

.bgButton {
  background-color: #8a8f01;
  border: 5px solid #8a8f01;
}

.bgButtonDetails {
  background-color: #6d6e71;
  border: 5px solid #6d6e71;
}

/* Carusel style start */

.carouselControl{
  color: black;
  font-size: 3rem;
}

.carousel-indicators li {
  background-color: black;
  height: .7rem;
  width: .7rem;
  border: 1px solid black;
  padding: 2px;
  border-radius: 25px;
}

/* Carusel style end */



/* CarouselBestseller style start */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(50%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}

#carouselControBestseller {
  color: black;
}

@media (min-width: 768px){
  .carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}
}

.bestseller-carousel-inner {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* CarouselBestseller style end */



/* FEATURED PRODUCTS start */
.bgFeatured {
  background-color: #e8d8b7;
}

.addCArdButton {
  padding-left: 0;
}
/* FEATURED PRODUCTS end */


/* Be Healthy start */

.BeHealthyTittle {
  color: #e8d8b7;
}
.bgHealthy1 {
  background-color: #6d6e71;
  height: 320px;
}

.bgHealthy2 {
  background-color: #e8d8b7;
  height: 320px;
}

@media (min-width: 1200px) {
  .bgHealthy1 {
  background-color: #6d6e71;
  height: 380px;
}

.bgHealthy2 {
  background-color: #e8d8b7;
  height: 380px;
}
}

/* Be Healthy end */



/* Shop by category start */

.bgCategory {
  background-color: #8a8f01;
}

/* Shop by category end */


/* Home style end */





/* Footer style start */

.containerFooter {
  background-color: black;
}

.BackToTop a {
  color: #898e00;
  font-size: 20px;
}

.text-muted {
  color: rgb(146, 146, 146)!Important;
}

/* Footer style ended */

