@font-face {
  font-family: PlayBold;
  src: url(typography/PlayBold.ttf);
}

@font-face {
  font-family: PlayRegular;
  src: url(typography/PlayRegular.ttf);
}

h1 {
  color: #1d1d1d;
  font-family: PlayRegular;
  letter-spacing: 5px;
}

/* Home style start */

.Hometittle1 {
  background-color: #e8d8b7;
  height: 250px;
}


/* Carusel style start */

.carouselControl{
  color: black;
  font-size: 3rem;
}

.carousel-indicators li {
  background-color: black;
  height: .7rem;
  width: .7rem;
  border: 1px solid black;
  padding: 2px;
  border-radius: 25px;
}
/* Carusel style end */



/* Home content style start */

@media (max-width: 767px){
  
}

@media (min-width: 540px) and (max-width: 767px){
  
}

@media (min-width: 768px){
  
}

@media (min-width: 992px){

}

/* Home content style end */

/* Home style end */





/* Footer style start */

.containerFooter {
  background-color: black;
}

.BackToTop a {
  color: #898e00;
  font-size: 20px;
}

.text-muted {
  color: rgb(209, 208, 208)!Important;
}

/* Footer style ended */

