.bgDeskConverters {
  background-color: #8a8f01;
}

.bgDeskConverters2 {
  background-color: #e8d8b7;
}

.bgDeskConverters3 {
  background-color: #6d6e71;
}

.price {
  font-size: 20px;
  font-weight: bold; 
}


@media (min-width: 992px) {
  .pBody {
    font-size: 18px;
    line-height: 35px;
  }
}

hr {
  border-top: 3px solid #6e6e6e;
}


.shopCategTittle {
  letter-spacing: 2px;
}
