@font-face {
  font-family: Kaleidoscope;
  src: url(typography/Kaleidoscope.otf);
  
}

#logoType {
  font-family: Kaleidoscope;
}

.navbar-brand {
  font-size: 2.25rem;
}



/***** CSS GRID *****/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-area: 1 / 1 / span 3 / span 1;
}

.item2 {
  grid-area: 1 / 4 / span 3 / span 3;
}

.item9 {
  grid-area: 4 / 2 / span 4 / span 5;
}

.item1 {
  grid-area: ;
}

.item8 {
  grid-area: ;
}