.jumbotron {
  background-image:linear-gradient(50deg, cornflowerblue 0%, cornsilk 50%, pink 40%, lightgreen, rebeccapurple);
}

.second {
  background-image: linear-gradient( to bottom right, cornflowerblue, cornsilk, pink, lightgreen, rebeccapurple);
}

.fird {
  background-image: linear-gradient( hsl(60,80%,50%) -20%, hsl(290,80%,50%) );
}

.fourth {
  background-image: repeating-radial-gradient( circle closest-corner at 100% 50%, cornflowerblue 0%, rgb(255, 222, 88) 80%, pink 40% );
}

.field {
min-height: 600px;
background-color: hsl(190, 80%,50%);

position: relative;
}

.thing {
width: 150px;
height: 150px;
background-color: hsl(38,80%,50%);
border-radius: 50%;

animation: myAnimation 4s infinite; 
}

@keyframes myAnimation {

  from {
    background-color: hsl(38,80%,50%);
    left: 50%;
    top: 50%;
  }

  to {
    background-color: hsl(-38,80%,50%);
    left: 100%;
    top: 100%;
  }
}


.thingSec {
  width: 150px;
  height: 150px;
  background-color: hsl(38,80%,50%);
  border-radius: 50%;
  
  animation: myAnimationSec 4s infinite; 
  }
  
  @keyframes myAnimationSec {
  
    /*not need 
    0% {
      background-color: hsl(38,80%,50%);
    }*/
  
    50% {
      background-color: hsl(-38,80%,50%);
    }

    /*100% {
      background-color: hsl(38,80%,50%);
  }*/ 
}

  .thingT {
    width: 150px;
    height: 150px;
    background-color: hsl(38,80%,50%);
    border-radius: 50%;

    position: absolute;
    
    animation: myAnimationThird 4s ease-in infinite; 
    }
    
    @keyframes myAnimationThird {
    
     
      0% {
        background-color: hsl(38,80%,50%);
        left: 0px;
        top: 0px;
      }
    
      50% {
        background-color: hsl(-38,80%,50%);
        left: 50%;
        top: 50%;
      }
  
      100% {
        background-color: hsl(38,80%,50%);
        left: 100%;
        top: 100%;
    }
  