@font-face {
  font-family: PlayBold;
  src: url(typography/PlayBold.ttf);
}

@font-face {
  font-family: PlayRegular;
  src: url(typography/PlayRegular.ttf);
}

/* Navbar style start */

#logoType {
  width: 20%;
}

.navbarBakcground {
  background-color: black;
}

.logoHeader {
  background-color: #898e00;
}

.container-fluid {
  height: 1000px;
  background-color: blue;
}

/* Navbar style end */


/* Toggler button animation start */

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
.animated-icon span {
  background: #e8d8b7;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
.animated-icon span:nth-child(1) {
  top: 0px;
  }
  
.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
  top: 10px;
  }
  
.animated-icon span:nth-child(4) {
  top: 20px;
  }
  
.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }

  /* Toggler button animation end */



 
  /* Navbar animation start */

  #myDIVright {
    position: relative;
    right: 0px;
    animation-iteration-count: 1;
    animation: mymove 5s;
    
  }
  
  @keyframes mymove {
    100% {right: 80px;}
  }


  #myDIVrightleft {
    position: relative;
    left: 0px;
    animation-iteration-count: 1;
    animation: my 5s;
    
  }
  

  @keyframes my {
    100% {left: 80px;}
  }


  #myDIVtop {
    position: ;
    top: 0px;
    animation-iteration-count: 1;
    animation: mytop 5s;
    
  }
  

  @keyframes mytop {
    100% {top: 50px;}
  }

